In [54]:
url='https://drive.google.com/uc?id=1jqcEqjWDTCSOjIYRVTLNWkUHkVsJca6O'

###Добавить датасет и перефармотировать в DataFrame pandas

In [55]:
import pandas as pd
tit = pd.read_csv(url)

### Количество пустых ячеек

#### Количество пустых ячеек для каждого признака

In [56]:
tit.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

#### Посчитать общее количество пустых ячеек

In [57]:
tit.isnull().sum().sum()

866

### Избавляемся от пустых ячеек

In [58]:
tit.info()

# пропущены:
# 'Age' - 177 ячеек с типом float
# 'Cabin' - 687 ячеек с типом string
# 'Embarged' - 2 ячеек с типом string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [59]:

# Пустые ячейки 'Age' заменим средним значением возраста и перезапишем переменную
tit['Age'] = tit['Age'].fillna(tit['Age'].mean())

In [60]:
#Значение поля 'Cabin' состоит из заглавной буквы с последующими цифрами
# отсортировав можно увидить что они находятся в диапазонах от A... до T...
tit.sort_values(by=['Cabin']).head(205)
# Поскольку у нас более половины пустых ячеек то удалять строки мы не будем - это значительно скажется на погрешности, а заполним значением 'W':
tit['Cabin'].fillna('W', inplace=True)
# оставшиеся две ячейки в пустых строках - удалим
tit.dropna(inplace=True)

### Проведем аналитику dataseta, определив для каждого признако количество уникальных значений, минимальное и максимальное значение

In [61]:
# Для каждого признака определим количество уникальных значение, а так же минимальное и максимальное значение
columns = list(tit.columns)

for i in range(len(columns)):
  print("Признак: " + columns[i] + ", Уникальных значений: " + str(tit[columns[i]].nunique())
  + ", Минимальное значение:" + str(tit[columns[i]].min()) + ", Максимальное значение:" + str(tit[columns[i]].max()))

Признак: PassengerId, Уникальных значений: 889, Минимальное значение:1, Максимальное значение:891
Признак: Survived, Уникальных значений: 2, Минимальное значение:0, Максимальное значение:1
Признак: Pclass, Уникальных значений: 3, Минимальное значение:1, Максимальное значение:3
Признак: Name, Уникальных значений: 889, Минимальное значение:Abbing, Mr. Anthony, Максимальное значение:van Melkebeke, Mr. Philemon
Признак: Sex, Уникальных значений: 2, Минимальное значение:female, Максимальное значение:male
Признак: Age, Уникальных значений: 89, Минимальное значение:0.42, Максимальное значение:80.0
Признак: SibSp, Уникальных значений: 7, Минимальное значение:0, Максимальное значение:8
Признак: Parch, Уникальных значений: 7, Минимальное значение:0, Максимальное значение:6
Признак: Ticket, Уникальных значений: 680, Минимальное значение:110152, Максимальное значение:WE/P 5735
Признак: Fare, Уникальных значений: 247, Минимальное значение:0.0, Максимальное значение:512.3292
Признак: Cabin, Уникальных значений: 147, Минимальное значение:A10, Максимальное значение:W
Признак: Embarked, Уникальных значений: 3, Минимальное значение:C, Максимальное значение:S

### Вероятности выживания в зависимости от признаков

In [62]:
# Будем проводить анализ на выживаемость для следующих признаков: 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare' 'Embarked'
# для анализа числовых значений признаков будем использовать дополнительную библиотеку и сравнивая значение столбцов выживших и не выживших
# Положительное значение говорит о том что вероятность выжить с увеличением значений другого столбца растет
# если pvalye не меньше α = 0,05, можно сделать вывод, что корреляция не является статистически значимой
from scipy. stats import pearsonr

#### Вероятность выживания в зависимости от 'Pclass'

In [63]:
pearsonr(tit['Survived'], tit['Pclass'])
# Чем ниже цифра класса (более комфортный класс), тем больше вероятность выжить с очень хорошим p-значением

PearsonRResult(statistic=-0.33554885935682516, pvalue=7.776916288563356e-25)

#### Вероятность выживания в зависимости от 'Age'

In [64]:
pearsonr(tit['Survived'], tit['Age'])
# Чем моложе, тем больше вероятность выжить с хорошим p-значением

PearsonRResult(statistic=-0.07467292378981866, pvalue=0.0259852572453244)

#### Вероятность выживания в зависимости от 'SibSp'

In [65]:
pearsonr(tit['Survived'], tit['SibSp'])
# Чем меньше братьев, сестер или супругов, тем больше вероятность выжить, однако корреляция не является статистически значимой

PearsonRResult(statistic=-0.03403999879674896, pvalue=0.310675373411362)

#### Вероятность выживания в зависимости от 'Parch'

In [66]:
pearsonr(tit['Survived'], tit['Parch'])
# Чем больше родителей или детей, тем больше вероятность выжить с хорошим p-значением

PearsonRResult(statistic=0.08315078366620232, pvalue=0.013136766201094762)

#### Вероятность выживания в зависимости от 'Fare'

In [67]:
pearsonr(tit['Survived'], tit['Fare'])
# Чем больше цена билета, тем больше вероятность выжить с очень хорошим p-значением

PearsonRResult(statistic=0.2552904613046991, pvalue=1.0797887540538013e-14)

#### Вероятность выживания в зависимости от 'Sex'

In [68]:
# вернем dataframe с женским или мужским полом и найдем среднее значение выживание (будет процент выживания для определенного пола)
# Женщин выжило, %:
print("выжило " + str(tit.loc[tit['Sex'] == 'female']['Survived'].mean()) + " процентов женщин")

# мужчин выжило, %:
print("выжило " + str(tit.loc[tit['Sex'] == 'male']['Survived'].mean()) + " процентов мужчин")
# принадлежность к женскому полу повышает вероятность выживания, джемнтельмены были тогда

выжило 0.7403846153846154 процентов женщин
выжило 0.18890814558058924 процентов мужчин

#### Вероятность выживания в зависимости от 'Embarked'

In [69]:
tit.groupby(by='Embarked').mean()
# сгруппировав по признаку 'Embarked' и найдя средние значения видно, что выжило человек севших в портах
# C - 55,3 %
# Q - 38,9 %
# S - 33,6 %

# Посадка в порту не играло статистически значимого результата на процент выживания

<ipython-input-69-8d93d7f8ff75>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tit.groupby(by='Embarked').mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Embarked,,,,,,,
C,445.357143,0.553571,1.886905,30.562419,0.386905,0.363095,59.954144
Q,417.896104,0.389610,2.909091,29.113724,0.428571,0.168831,13.276030
S,449.527950,0.336957,2.350932,29.480855,0.571429,0.413043,27.079812